.mainmenu {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-evenly;
  background: gray;
  border-radius: 0 0 1rem 1rem;
  margin-top: 0;
}

.mainmenu li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainmenu li a {
  color: white;
  text-decoration: none;
}

.liLogo {
  position: relative;
  width: 12%;
  height: 3rem;
}

@media screen and (orientation: landscape) {
  .mainmenu {
    flex-direction: column;
    border-radius: 0 1rem 1rem 0;
    height: 95vh;
    margin-top: 2vh;
  }

  .liLogo {
    width: 10rem;
    height: 4rem;
  }

}