html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.roundcorners {
  border-radius: 1rem;
}

/* these control the apps carousel*/
div.carousel.slide.carousel-dark {
  width: 100vw;
  height: 80vh;
}

div.carousel-inner {
  height: 80vh;
}

div.carousel-item {
  height: 80vh;
}

@media screen and (orientation: landscape) {
  div.carousel.slide.carousel-dark {
    width: 100%;
    height: 100%;
  }

  div.carousel-inner {
    width: 100%;
    height: 100%;
  }

  div.carousel-item {
    width: 100%;
    height: 100%;
  }
}